<li>
  <p>
    <% if(locals.user && locals.user.id==comment.userId.id) { %>
    <!-- if the id of ther logged in user and the id of user who created the comment is same, only then show the delete button  -->
    <small>
      <a href="/comments/destroy/<%= comment.id %>">X</a>
    </small>
    <% } else if(locals.user && comment.parentPostUserId == locals.user.id) { %>
    <small>
      <a href="/comments/destroyByPostOwner/<%= comment.id %>">X</a>
    </small>
    <% } %> 
    <%= comment.content %><br />
    <%= comment.userId.name %><br/>
  </p>
</li>
