<h1>Forgot Password</h1>
<form action="/users/update-forgot-password" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <!-- input type email is an html5 tag which validates input as email -->
   
    <input type="submit" value="Forgot Password">
</form>
