<h1>FriendBook / <%= title %></h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user){ %>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>
    <div id="posts-list-container">
        <ul>
            <% for(post of posts) {%>
             <li>
                <p>
                  <%= post.content %> <br/>
                  <%= post.user.name %>
                  
                </p>
             </li> 
            <% } %>   
        </ul>
    </div>
</section>