<h1>FriendBook / <%= title %></h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>