#home-container{
    display: flex;
    #feed-posts{
        width: 70%;
        padding: 10px;
        padding-bottom: 100px;
    }
    #user-friends {
        width: 30%;
        padding: 10px;
        padding-bottom: 100px;
        border-left: 1px solid lightgrey;
        height: 100vh;
        
    
    }
    
}

