<div>
    <p>Hi <%= comment.userId.name%>!</p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got pubished on FriendBook.</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>